@use "../config" as *;

.b-team-members {
  position: relative;
  overflow: hidden;
  padding: $p-sm;

  @include media-breakpoint-up(md) { padding: 3rem 0 6rem; }

  @include media-breakpoint-up(lg) {
    padding: 10rem 0;
    margin-bottom: 5rem;
  }
}
